:root {
	// Panel colors
	--color-dark: #001b2f;
	--color-light: #e9f6ff;

	// Display colors
	--color-gray: #fafafa;
	--color-midnight: #00223a;

	// Button colors
	--color-cyan: #00b0d7;
	--color-sunset: #ff6060;
	--color-black: #000;
	--color-white: #fff;

	//Scroll color
	--color-scroll: #686868;

	// Main font
	--font-main: "SF UI Display", sans-serif;
}
